/* Base
   Styling of base elements
------------------------------------------  */
/*
 * USE BORDER BOX
 * http://paulirish.com/2012/box-sizing-border-box-ftw/
 * If we need IE7 support: http://html5please.com/#box-sizing
*/


// BORDER BOX
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// TYPEKIT LOADING
h1, h2, h3, h4, h5, h6, p, li, dl, dd {
  opacity: 1;
  @include transition-property('opacity');
  @include transition-duration(.5s);
}
.wf-loading {
  h1, h2, h3, h4, h5, h6, p, li, dl, dd {
    opacity: 0;
  }
}


// LINKS
a {
  text-decoration: none;
  color: $link-default;
  // @include transition-property('opacity color');
  // @include transition-duration(.5s);
  cursor: pointer;
  &:hover {
    color: $link-default;
  }
  &.active:hover {
  }
}



// BASE ELEMENT STYLES
img, video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

img.width-auto, video.width-auto {
  width: auto;
}