// Typography - trying out typecast

html {
  font-size: 62.5%; // Sets base to 10px
  @media (max-width: 500px){
    font-size: 50%;
  }
  @media (min-width: 1500px){
    font-size: 75%;
  }
}

body {
  font-family: $serif-stack;
  color: $body-text;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}


blockquote {
    font-style: italic;
    font-weight: 300;
    font-family: $sans-stack;
    text-indent: 0;
    @include rem('font-size', 26px);
    @include rem('line-height', 30px);
    @include rem('margin-bottom', 20px);
}

h1 {
    @include rem('font-size', 40px);
    font-style: normal;
    font-weight: 300;
    font-family: $sans-stack;
    text-transform: uppercase;
    @include rem('margin-bottom', 20px);
}

h2 {
    font-size: 2.625rem;
    line-height: 1.1904761904761905rem;
    font-style: normal;
    font-weight: 300;
    font-family: $sans-stack;
    text-transform: uppercase;
}

h3 {
    font-family: $serif-stack;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-bottom: .75rem;
}

h4 {
    font-family: $serif-stack;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6177083253860474rem;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-family: $serif-stack;
    font-size: 1em;
    line-height: 1.6177083253860474rem;
}

h6 {
    font-family: $serif-stack;
    font-style: italic;
    margin-bottom: 1.5625rem;
    font-size: 1rem;
}