/* VARIABLES
---------------------------------------------------- */

// Fonts
$sans-stack: "myriad-pro", Helvetica, Arial, sans-serif;
$sans-stack-simple: Helvetica, Arial, sans-serif;
$serif-stack: georgia, sans-serif;
$serif-stack-simple: georgia, times, serif;


// COLORS
// Brand
$brand-dark: #161817;

$grey: #dfdfdf;
$dark-grey: #373633;

$medium-grey: #cacaca;

$light-grey: #f3f3f3;
$lighter-grey: #ebebeb;


$coral: yellow;
$blue: #03b4ef;


// Links
$link-default: $brand-dark;
// Body
$body-text: #333;
