<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6 ie"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 ie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9 ie"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->

<script type="text/javascript">
  // Replace no-js classname on HTML with js
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
  // Add data-useragent to HTML for browser/version-specific css hooks
  document.documentElement.setAttribute('data-useragent', navigator.userAgent);
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Easy Button</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/css/screen.css">

  <!-- Viewport Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO Meta -->
  <meta name="description" content="YOUR-DESCRIPTION-HERE">
  <meta name="keywords" content="YOUR-KEYWORDS-HERE">
  <meta name="robots" content="INDEX,FOLLOW">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">

  <!-- Facebook -->
  <meta property="og:image" content="YOUR-URL-HERE/avatar.png">
  <meta property="og:description" content="YOUR-DESCRIPTION-HERE">

  <!-- Windows 8 Pin app to start screen -->
  <meta name="msapplication-TileColor" content="#272727">
  <meta name="msapplication-TileImage" content="YOUR-URL-HERE/msapplication-tileimage.png">


  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="/javascripts/selectivizr-min.js"></script>
  <script src="/javascripts/respond.js"></script>
  <![endif]-->

  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag  "application" %>

  </body>
</html>