<ul class="button-group window-info">
  <li>
    <a data-toggle="dimensions" class="button-with-options"><i class="ss-icon icon-window-width">&#xE201;</i> <span class="data" id="window-width"></span> x <span id="window-height"></span></a>
     <ul class="button-options" id="dimensions">
       <li><label>Select A Dimension Setting</label></li>
       <li><a class="dimension-option" data-dimension-option-name="iPhone 5 Portrait" data-dimension-option-width="320" data-dimension-option-height="568">iPhone 5 Portrait</a></li>
       <li><a class="dimension-option" data-dimension-option-name="iPhone 5 Landscape" data-dimension-option-width="568" data-dimension-option-height="320">iPhone 5 Landscape</a></li>
       <li><a class="dimension-option" data-dimension-option-name="iPad Portrait" data-dimension-option-width="768" data-dimension-option-height="1024">iPad Portrait</a></li>
       <li><a class="dimension-option" data-dimension-option-name="iPad Landscape" data-dimension-option-width="1024" data-dimension-option-height="768">iPad Landscape</a></li>
       <li><a class="dimension-option" data-dimension-option-name="13in. Laptop" data-dimension-option-width="1280" data-dimension-option-height="800">13in. Laptop</a></li>
       <li><a class="dimension-option" data-dimension-option-name="Desktop" data-dimension-option-width="1400" data-dimension-option-height="1000">Desktop</a></li>
       <li><a class="dimension-normal"><i class="ss-icon">&#x21BA;</i> Reset</a></li>
       <li><a class="dimension-resize-to-match-overlay"><i class="ss-icon">&#x1F304;</i> Match The Overlay</a></li>
     </ul>
  </li>
  <li><p><i class="ss-icon icon-resolution">&#xE9A3;</i> <span class="data" id="resolution"></span></p></li>
  <li><p><i class="ss-icon">&#x2139;</i> <span class="data" id="browser-info"></span></p></li>
</ul>
