/**

  @Button Groups
---------------------------------------------------------

  Ways of grouping buttons together

--------------------------------------------------------- */


/* @button-group
--------------------------------------------------------

  Default group of buttons

------------------------------------------------------ */

.button-group {
  @include pie-clearfix;
  font-family: $sans-stack;
  float: right;
  > li {
    // border-left: 1px solid $medium-grey;
    display: block;
    float: right;
    a {
      color: $white;
      @include transition(background, .2s);
    }
    p, a {
      font-size: 12px;
      display: block;
      height: 29px;
      line-height: 29px;
      padding: 0 10px;
    }
    a.active,
    a:hover,
    a:active,
    a:focus {
      background: $white;
      color: black;
    }
    i {
      position: relative;
      top: .175em;
      float: left;
      display: inline-block;
      font-size: 13px;
      margin-right: 5px;
      &.rotated {
        margin-top: -3px;
        @include transform(rotate(90deg));
      }
    }
  }
}