/**

  @Button Groups
---------------------------------------------------------

  Ways of grouping buttons together

--------------------------------------------------------- */


/* @button-group
--------------------------------------------------------

  Default group of buttons

------------------------------------------------------ */

.button-group {
  @include pie-clearfix;
  font-family: $sans-stack;
  float: right;
  > li {
    // border-left: 1px solid $medium-grey;
    display: block;
    float: right;
    p, a {
      font-size: 12px;
      color: black;
      display: block;
      height: 29px;
      line-height: 29px; // not exactly centered, but it looks better
      padding: 0 10px;
    }
    a.active {
      background: $lighter-grey;
      border-bottom: 1px solid $lighter-grey;
    }
    a:hover {
      background: rgba(255, 255, 255, .4);
    }
    a.active:hover {
      background: $lighter-grey;
    }
    i {
      position: relative;
      top: .175em;
      float: left;
      display: inline-block;
      font-size: 13px;
      margin-right: 5px;
      color: #333;
      &.rotated {
        margin-top: -3px;
        @include transform(rotate(90deg));
      }
    }
  }
}