/**

  @controls
--------------------------------------------------------

  Controls toolbar and related buttons

-----------------------------------------------------  */

// section for main controls
#controls {
  position: fixed;
  top: 0;
  left: 0;
  height: 29px;
  width: 100%;
  z-index: 9990;
}

// section for secondary controls
#controls-secondary {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 29px;
  width: 100%;
  z-index: 9999;
}