/**

   @dropdowns
--------------------------------------------------------

  Dropdowns for button options

-----------------------------------------------------  */

.button-options {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0;
  right: 0;
  z-index: 9990;
  width: 100%;
  max-width: 300px;
  background: $white;
  padding: 15px 0 5px;
  // border-left: 1px solid $medium-grey;
  // border-bottom: 1px solid $medium-grey;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.15);
  > li {
    display: block;
    padding: 0;
    margin: 0 0 10px 0;
    overflow: hidden;
    &.separator {
      height: 10px;
    }
    > a {
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: $black;
      font-family: $sans-stack;
      &.shown {
        display: block;
      }
      &:hover, &:focus, &.active, &:active {
        color: $white;
        background: $medium-grey;
      }
      &:active {
        opacity: .75;
      }
      i {
        display: inline-block;
        margin: 0 5px 0 0;
        position: relative;
        bottom: -4px;
        font-size: 1.25em;
        color: inherit;
      }
    }
    > .edit-text {
      background: rgba(255,255,255,.95);
      color: $body-text;
      word-break: break-word;
      padding: 8px 15px;
      border: 1px solid #efefef;
      font-size: 13px;
      min-height: 500px;
      width: 100%;
    }
    > label {
      padding: 0 12px;
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
    }
  }
}