/* @overlay
--------------------------------------------------------

  Image overlay system
  NOTE: It's actually under the site, but appears
  like an overlay.  Better word than 'underlay'

------------------------------------------------------ */

#overlay {
  padding: 12px 12px 0;

  #overlay-file-selector {
    width: 100%;
    position: relative;
    display: block;
    padding: 10px 0;
    z-index: 9990;
    cursor: pointer;
    &:after {
      cursor: pointer;
      content: "Add a new overlay image";
      font-size: 12px;
      display: block;
      position: absolute;
      text-align: center;
      z-index: 9995;
      top: 0; right: 0; bottom: 0; left: 0;
      background: $active;
      color: white;
      padding: 12px;
    }
    &:hover:after {
      background: lighten($active, 5%);
      color: white;
    }
  }

  // Overlay Controls, opacity and drag
  // By default, they are inactive
  .overlay-control {
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    opacity: .5;
    pointer-events: none;
    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  #overlay-file-opacity {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    background-color: #dfdfdf;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      background: #333;
      border-radius: 2px;
    }
  }

  > li.overlay-option {
    > a {
      display: inline-block;
      float: left;
      height: 65px;
      line-height: 65px;
      width: 90%;
      padding: 0;
      background: white;
      &:hover, &:focus, &.active {
        background: $active;
        color: white;
      }
      &.active {
        pointer-events: none;
      }
      &.delete-overlay-option {
        width: 10%;
        text-align: center;
        padding: 0;
        line-height: 65px;
      }
      > img {
        margin-right: 5px;
        height: 65px;
        vertical-align: middle;
        width: auto;
      }
    }
  }
}

#overlay-image {
  position: absolute;
  z-index: 9960; // below the iframe
  top: 0;
  left: 0;
  width: auto !important;
  max-width: 500% !important;
  height: auto !important;
  pointer-events: none;
  cursor: none;
  &.active {
    pointer-events: auto;
    cursor: move;
  }
  &.fixed {
   position: fixed;
  }
}

.on-off-icon {
  color: #333 !important;
  font-size: 4em;
  float: right;
  vertical-align: middle;
  margin-top: 0;
  opacity: .3;
}

#overlay-toggle-active {
  border-radius: 0;
}
#overlay-toggle-active.active,
#overlay-toggle-active.active:hover {
  background: $active !important;;
  color: white !important;
  .on-off-icon {
    color: #bada55 !important;
    opacity: 1;
  }
}
#overlay-toggle-active.active:active,
#overlay-toggle-active:active {
  opacity: .8;
}
