/* @overlay
--------------------------------------------------------

  Image overlay system
  NOTE: It's actually under the site, but appears
  like an overlay.  Better word than 'underlay'

------------------------------------------------------ */

#overlay {
  padding: 12px 12px 0;

  li {
    @include clearfix();
    p {
      vertical-align: middle;
      color: $brand-dark;
      font-size: .75em;
      margin: 0;
      line-height: 32px;
      height: 32px;
      padding: 0;
    }
  }

  #overlay-file-selector {
    width: 24%;
    float: right;
    position: relative;
    z-index: 9990;
    cursor: pointer;
    padding: 1px;
    font-size: 10px;
    z-index: 9990;
    cursor: pointer;
    line-height: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:after {
      cursor: pointer;
      content: "+ NEW";
      font-size: 12px;
      display: block;
      position: absolute;
      text-align: center;
      z-index: 9995;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #FFFFFF;
      color: rgb(65, 65, 65);
      border: 1px solid rgb(236, 236, 236);
      padding: 10px;
    }
    &:hover:after {
      background: #959595;
      color: white;
    }
  }

  // Overlay Controls, opacity and drag
  // By default, they are inactive
  .overlay-control {
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    opacity: .5;
    pointer-events: none;
    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  #overlay-file-opacity {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    background-color: #dfdfdf;
    border: 1px solid rgb(236, 236, 236);
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      background: #333;
      border-radius: 2px;
    }
  }

  > li.overlay-option {
    > a {
      display: inline-block;
      float: left;
      height: 65px;
      line-height: 65px;
      width: 90%;
      padding: 0;
      background: white;
      overflow: hidden;
      &:hover, &:focus, &.active {
        background: $active;
        color: white;
      }
      &.active {
        pointer-events: none;
      }
      &.delete-overlay-option {
        width: 10%;
        text-align: center;
        padding: 0;
        line-height: 65px;
      }
      > img {
        float: left;
        margin-right: 10px;
        width: 65px;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}

#overlay-image {
  position: absolute;
  z-index: 9960; // below the iframe
  top: 0;
  left: 0;
  width: auto !important;
  max-width: 500% !important;
  height: auto !important;
  pointer-events: none;
  cursor: none;
  &.active {
    pointer-events: auto;
    cursor: move;
  }
  &.fixed {
   position: fixed;
  }
}

.on-off-icon {
  color: #333 !important;
  font-size: 4em;
  float: right;
  vertical-align: middle;
  margin-top: 0;
  opacity: .3;
}

#overlay-toggle-active {
  border-radius: 0;
}
#overlay-toggle-active.active,
#overlay-toggle-active.active:hover {
  background: $active !important;;
  color: white !important;
  .on-off-icon {
    color: #bada55 !important;
    opacity: 1;
  }
}
#overlay-toggle-active.active:active,
#overlay-toggle-active:active {
  opacity: .8;
}
