/**

  @viewport
--------------------------------------------------------

  Viewport iframe and related controls

-----------------------------------------------------  */


#viewport {
  position: fixed;
  top: 29px;
  bottom: 29px;
  width: 100%;
  overflow: hidden;
  // viewport that has been resized
  &.viewport-resized {
    text-align: center;

  }
}

// Title of viewport (iPad Landscape for instance)
#viewport-title {
  font-family: $sans-stack;
  color: $white;
  font-size: 13px;
  display: none;
  margin: 16px auto;
  span {
    opacity: .3;
    display: inline-block;
    margin-right: 1em;
  }
  a {
    opacity: .3;
    &.is-active {
      opacity: .65;
    }
    i {
      position: relative;
      top: .15em;
    }
  }

}

// Contains the main iframe viewport
#viewport-iframe-wrap {
  position: absolute;
  overflow: hidden;
  width: 100%; // changed by js
  height: 100%; // changed by js
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .viewport-resized & {
    top: auto;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  // contains the 'overlay bg'
  background-position: top center;
  background-repeat: no-repeat;
  background-scroll: scroll;
}


// the main iframe viewport
#viewport-iframe {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  border: none; outline: none;
  z-index: 9970;
  background: white;
  pointer-events: none;
  &.active {
    pointer-events: auto;
  }
}


// Chrome
#viewport-iframe-wrap.is-showing-chrome {
  // iPhone 5 Portrait
  &[data-setting-name="iphone-5-portrait"] {
    background: url(/images/chrome_iphone-portrait.png) no-repeat;
    background-size: 100% auto;
    #viewport-iframe {
      top: 64px !important;
      bottom: 44px !important;
      height: 460px !important;
    }
  }
  // iPhone 5 Landscape
  // Do nothin here

  // iPad Portrait
  &[data-setting-name="ipad-portrait"] {
    background: url(/images/chrome_ipad-portrait.png) no-repeat;
    background-size: 100% auto;
    #viewport-iframe {
      top: 96px !important;
      bottom: 0px !important;
      height: 674px !important;
    }
  }
  // iPad Landscape
  &[data-setting-name="ipad-landscape"] {
    background: url(/images/chrome_ipad-landscape.png) no-repeat;
    background-size: 100% auto;
    #viewport-iframe {
      top: 96px !important;
      bottom: 0px !important;
      height: 674px !important;
    }
  }
  // 13" Landscape
  &[data-setting-name="13-inch-laptop"] {
    background: url(/images/chrome_13-inch-laptop.png) no-repeat;
    background-size: 100% auto;
    #viewport-iframe {
      top: 71px !important;
      bottom: 0px !important;
      height: 722px !important;
    }
  }
  &[data-setting-name="desktop"] {
    background: url(/images/chrome_desktop.png) no-repeat;
    background-size: 100% auto;
    #viewport-iframe {
      top: 71px !important;
      bottom: 0px !important;
      height: 929px !important;
    }
  }
}


/* @viewport URL box
--------------------------------------------------------
  UI elements for controlling the viewport src
------------------------------------------------------ */

// viewport refresh link
#viewport-refresh {
  background: none;
  border: none;
  height: 29px;
  line-height: 29px;
  padding: 0 10px 0 5px;
  float: left;
  font-size: 14px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
  color: $white;
}

// viewport URL box
#viewport-url-container {
  display: inline-block;
  position: relative;
  float: left;
  width: 250px;
}
#viewport-url {
  width: 100%;
  height: 29px;
  padding: 5px 3px 7px;
  border: none;
  background: none;
  font-size: 12px;
  font-family: $sans-stack;
  color: $white;
  @include transition(background, .2s);
  &:hover,
  &:focus {
    background: $white;
    color: $black;
    outline: none;
    border: none;
    box-shadow: none;
  }
}
#viewport-urls {
  display: none; // is shown with js
  position: absolute;
  top: 100%;
  background: $white;
  max-height: 250px;
  width: 100%;
  overflow: scroll;
  &.shown {
    display: block;
  }
  // URL links
  a {
    display: none; // shown with js
    padding: 0 8px;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    color: #333;
    font-family: $sans-stack;
    &.shown {
      display: block;
    }
    &:hover, &:focus, &.active, &:active {
      color: white;
      background: $medium-grey;
    }
    &:active {
      opacity: .75;
    }
  }
}