---
title: Easy Button
---

<section id="controls">

  <!-- URL inputs -->
  <ul class="input-group">
    <li>
      <form id="viewport-url-form" action="#" method="post">
        <button type="button" id="viewport-refresh"><i class="ss-icon">&#x21BA;</i></button>
        <div class="field" id="viewport-url-container">
          <input type="text" id="viewport-url" value="http://schramindustries.com" autocomplete="off" />
          <div id="viewport-urls" >
             <!-- filled with JS -->
          </div>
        </div>
      </form>
    </li>
  </ul>


  <!-- Main UI buttons -->
  <ul class="button-group">
    <!--Resources-->
    <li>
      <a data-toggle="resources" class="button-with-options"><i class="ss-icon">&#x1F4BC;</i>Resources</a>
       <ul class="button-options" id="resources">
         <li><a target="docs" href="/docs/SymbolSet/ss-standard/documentation.html">SymbolSet Standard</a></li>
         <li><a target="docs" href="/docs/SymbolSet/ss-social/documentation.html">SymbolSet Social</a></li>
       </ul>
    </li>
    <!--Notes-->
    <!--
    <li>
      <a data-toggle="notes" class="button-with-options"><i class="ss-icon">&#x1F4DD;</i>Notes</a>
       <ul class="button-options" id="notes">
         <li><textarea id="note" class="edit-text">Jot down some notes.</textarea></li>
       </ul>
    </li>
    -->
    <!--Overlay-->
    <li>
      <a data-toggle="overlay" class="button-with-options"><i class="ss-icon">&#x1F304;</i>Overlay</a>
      <ul class="button-options" id="overlay">
        <li class="overlay-control"><a href="#" id="overlay-toggle-active"><i class="ss-icon">&#xE070;</i>Drag Overlay <b class="on-off-icon">&bull;</b></a></li>
        <li class="overlay-control"><input id="overlay-file-opacity" type="range" min="0" max="100" value="0">
        <li class="separator"></li>
        <li class="separator"></li>
        <li><input type="file" id="overlay-file-selector" onchange="readURL(this);"></li>
      </ul>
    </li>
    <!-- Dimensions -->
    <li>
      <a data-toggle="dimensions" class="button-with-options"><i class="ss-icon icon-window-width">&#xE201;</i> <span class="data" id="window-width"></span> x <span id="window-height"></span></a>
       <ul class="button-options" id="dimensions">

         <li><a class="dimension-normal"><i class="ss-icon">&#x21BA;</i> Reset To Fill Window</a></li>

         <li><a class="dimension-resize-to-match-overlay"><i class="ss-icon">&#x1F304;</i> Match The Overlay</a></li>

         <li class="separator"></li>

         <li><a class="dimension-option" data-dimension-option-name="iPhone 5 Portrait" data-dimension-option-width="320" data-dimension-option-height="568"><i class="ss-icon">&#x1F4F1;</i> iPhone 5 Portrait</a></li>

         <li><a class="dimension-option" data-dimension-option-name="iPhone 5 Landscape" data-dimension-option-width="568" data-dimension-option-height="320"><i class="ss-icon icon--90deg">&#x1F4F1;</i> iPhone 5 Landscape</a></li>

         <li><a class="dimension-option" data-dimension-option-name="iPad Portrait" data-dimension-option-width="768" data-dimension-option-height="946" data-dimension-chrome-height="78"><i class="ss-icon">&#xEA01;</i> iPad Portrait</a></li>

         <li><a class="dimension-option" data-dimension-option-name="iPad Landscape" data-dimension-option-width="1024" data-dimension-option-height="690" data-dimension-chrome-height="78"><i class="ss-icon icon--90deg">&#xEA01;</i> iPad Landscape</a></li>

         <li><a class="dimension-option" data-dimension-option-name="13 Inch Laptop" data-dimension-option-width="1280" data-dimension-option-height="800"><i class="ss-icon">&#xEA00;</i> 13in. Laptop</a></li>

         <li><a class="dimension-option" data-dimension-option-name="Desktop" data-dimension-option-width="1400" data-dimension-option-height="1000"><i class="ss-icon">&#x1F4BB;</i> Desktop</a></li>
       </ul>
    </li>
  </ul>

</section>

<section id="viewport">
  <h1 id="viewport-title"><span>Test</span> <a href="#" class="is-active" id="toggle-chrome"><i class="ss-icon">&#x1F440;</i> Chrome</h1>
  <div id="viewport-iframe-wrap" class="is-showing-chrome">
    <iframe id="viewport-iframe" class="active" src="http://schramindustries.com"></iframe>
  </div>
</section>

<section id="controls-secondary">
  <ul class="button-group window-info">
    <li><p><i class="ss-icon icon-resolution">&#xE9A3;</i> <span class="data" id="resolution"></span></p></li>
    <li><p><i class="ss-icon">&#x2139;</i> <span class="data" id="browser-info"></span></p></li>
    <li id="keypress-section" style="display: none;"><p><b>KEYPRESS</b> <span class="data" id="keypress"></span></p></li>
  </ul>

</section>
