<style>body, html { background: #efefef; } </style>

<section id="test">

  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Test page for EZ Bookmarklet</h1>
        <button id="test-run">run</button>
      </div>
    </div>
  </div>

</section>