/* @site-footer
--------------------------------------------------------
  _5_sections/site-footer.scss
--------------------------------------------------------

  The site's footer

  This is currently set up with the assumption that there
  will be 2 navs and a credits area.

------------------------------------------------------ */


// Footer section
.site-footer {
  // Add custom styles below...
}




// Primary nav
.site-footer__primary-nav {
  // Add custom styles below...

}




// Secondary nav
.site-footer__secondary-nav{
  // Add custom styles below...
}




// Credits
.site-credits {
  // Sample styles below, edit as you wish...
  font-size: .5rem;
}