/**

  @island
---------------------------------------------------------

  Island creates large vertical padding

  Example:
  <article class="island">
    <h4>Small heading here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, consequatur, quis, unde, libero odit similique hic repudiandae doloremque expedita mollitia ipsum et excepturi pariatur facere optio obcaecati sit dicta dolorum.</p>
  </article>

--------------------------------------------------------- */

.island {
  margin-bottom: 5%;
}
